
<!--
<div class="draggable" id="analog-clock-div">
    
</div>
-->
<div class="draggable" id="clock-div">
    <table 
        class=clock-obj
        (mouseenter)="OnClockMouseEnter()"
        (mouseleave)="OnClickMouseLeave()">
        <tr>
            <td class="hover-hand">
                <analog-clock  *ngIf="!_digitalClock"></analog-clock>
            </td>
        </tr>
        <tr *ngIf="_digitalClock">
            <td class="time hover-hand">
                {{Time | date: 'shortTime' | lowercase}}
            </td>
        </tr>
        <tr *ngIf="_digitalClock" >
            <td class="date hover-hand">
                {{Time | date: 'fullDate'}}
            </td>
        </tr>
        <tr>
            <td colspan = 2
                style="text-align: left">
                <div 
                    class=small-text
                     *ngIf="_showControls">
                    <a href=# (click)="ToggleAnalogDigital()">Analog/Digital</a><br>
                    Width: <a href=# (click)="Wider()">[...]</a>&nbsp;&nbsp;
                           <a href=# (click)="Narrower()">[.]</a>&nbsp;&nbsp;
                           <a href=# (click)="FitHeight()">Height</a>&nbsp;&nbsp;
                           <a href=# (click)="FitWidth()">Width</a><br>
                    Opacity: 
                        <a href=# (click)="SetBgImgOpacity(.25)">25%</a>&nbsp;&nbsp;
                        <a href=# (click)="SetBgImgOpacity(.50)">50%</a>&nbsp;&nbsp;
                        <a href=# (click)="SetBgImgOpacity(.75)">75%</a>&nbsp;&nbsp;
                        <a href=# (click)="SetBgImgOpacity(1)">100%</a>&nbsp;&nbsp;<br>
                        <a href=# (click)="Darker()">\/</a>&nbsp;&nbsp;<a href=# (click)="Lighter()">/\</a>
                    <table style="width: 200px">
                        <tr>
                            <td>
                                <input type=text [(ngModel)]="NewImageUrl" size="15"><button (click)="AddNewImage()">Add</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span *ngFor="let url of _imgUrls; let i = index">
                                    <img
                                        src={{url}} 
                                        style="width: 50px" 
                                        (click)="OnSelectImgClick(url)">

                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>

<div id="background-img-div" class="draggable">
    <img id="background-image" class=background-image>
<div>