<div *ngIf="collapsed" id=menu-container-collapsed>
	<div style="float: left; padding: 10px; cursor: pointer;" (mousedown)="collapsed = !collapsed">
		<span class=sel-icon-light-med-menu></span>
	</div>
</div>

<div *ngIf="!collapsed" id=menu-container-expanded>

	<div id=menu-collapse (mousedown)="collapsed = !collapsed">
		<div style="padding: 10px;">
			<span class=sel-icon-light-med-double-chevron></span>
		</div>
	</div>

	<!--<img src='https://a2ua.com/boxes/boxes-001.jpg' style='width: 100%;'>-->

	<div style="padding-left: 10px; padding-right: 10px;">

		<div class="h1-text">
			Settings
		</div>

		<div class=normal-text>
			<span class=strong>Clock Style:</span><br>
			<ul>
				<li>
					Clock is <span (click)="clockSettings.Digital = false" class=link>analog</span> or 
					<span (click)="clockSettings.Digital = true" class=link>digital</span>.
				</li>
				<li>
					(Double click the clock to toggle.)
				</li> 
				<!-- TODO: <li>
					Clock text is white or black.
				</li>-->
				<li>
					Digital Clock Font:
					<ul>
						<li *ngFor="let fontName of FontNames" (click)="clockSettings.SetFont(fontName)" class="link" [style.font-family]="fontName">{{fontName}}</li>


						<!--<li (click)="clockSettings.SetFont('Coiny')" class=link style="font-family: 'Coiny'">Coiny</li>-->
						<!--<li (click)="clockSettings.SetFont('Cormorant Garamond')" class=link>Cormorant Garamond</li>-->
						<!--<li (click)="clockSettings.SetFont('Gloria Hallelujah')" class=link>Gloria Hallelujah</li>-->
						<!--<li (click)="clockSettings.SetFont('Open Sans')" class=link>Open Sans</li>-->

					</ul>
				</li>
			</ul>
			
			<span class=strong>Image Settings:</span><br>
			<ul>
				<li>
					<span (click)="clockSettings.IncreaseImageWidth()" class=link>Zoom in</span> or 
					<span (click)="clockSettings.DecreaseImageWidth()" class=link>zoom out</span>.
				</li>
				<li>
					(Or use the mouse wheel.)
				</li>
				<li>
					Fit image to page <span (click)="clockSettings.FitWidth()" class=link>width</span> or 
					<span (click)="clockSettings.FitHeight()" class=link>height</span>.
				</li>
			</ul>
			
			<span class=strong>Image Opacity:</span><br>
			<ul>
				<li>
					<span (click)="clockSettings.SetBgImgOpacity(.25)" class=link>25%</span>
				</li>
				<li>
					<span (click)="clockSettings.SetBgImgOpacity(.50)" class=link>50%</span>
				</li>
				<li>
					<span (click)="clockSettings.SetBgImgOpacity(.75)" class=link>75%</span>
				</li>
				<li>
					<span (click)="clockSettings.SetBgImgOpacity(1)" class=link>100%</span><br>
				</li>
				<li>
					<span (click)="clockSettings.Darker()" class=link>Darker</span>
				</li>
				<li>
					<span (click)="clockSettings.Lighter()" class=link>Lighter</span>
				</li>
				<!-- TODO: <li>
					page background color is white or black or something else
				</li>-->
			</ul>
			
			<span class=strong>Add an Image Url:</span><br>
			<input type=text [(ngModel)]="newImageUrl" size="15"><button (click)="AddNewImage()">Add</button>
			<br><br>

			<span class=strong>Select an Image:</span><br>
			<ul>
				<li>(Ctrl + click to remove the image.)</li>
			</ul>

			<div>
				<span *ngFor="let imgUrl of clockSettings.ImgUrls">
					<img src={{imgUrl}}
						style="width: 50px;"
						(click)="OnSelectImageClick(imgUrl)"/>
					<span *ngIf="ShowRemoveButtonFor(imgUrl)">
						<button (click)="OnRemoveImg()">Remove</button>
						<button (click)="OnCancelRemoveImg()">Cancel</button>
					</span>
            	</span>
			</div>
		</div>
	</div>
</div>